body {
  background-color: #60d9f1;
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
}

.result {
  width: 299px;
  border: 2px dashed gray;
  margin:10px;
}

.result * {
  cursor: pointer; 
  cursor: hand;
}